<div class="page-header">
	<h1>OpenSLAT <small>Introduction</small></h1>
</div>

<p>Welcome to OpenSLAT, an open-source tool for performing seismic loss assessment of structures subjected to earthquake risk. OpenSLAT is developed at the University of Canterbury by <a href="http://www.civil.canterbury.ac.nz/staff/bbradley.shtml">Brendon Bradley</a>, <a href="http://www.github.com/statX">Alan Williams</a> and <a href="http://www.joey.scarr.co.nz/">Joey Scarr</a>.</p>

<p>OpenSLAT follows a linear process of data entry and computation. Above, you can see tabs corresponding to the four main input steps:</p>

<dl>
	<dt>Seismic Hazard</dt>
	<dd>On this tab, you define the probability of seismic events of different magnitudes. You can define these using a parametric relationship, or from empirical data.</dd>
</dl>
<dl>
	<dt>Seismic Response</dt>
	<dd>On the second tab, you define a number of <i>Engineering Demand Parameters</i> (EDPs), and specify how each is affected by different levels of seismic activity. Again, this can be specified using parametric relationships, or by uploading a set of empirical data points.</dd>
</dl>
<dl>
	<dt>System Definition</dt>
	<dd>The System Definition tab allows you to define the components of your structure or system, and how they are affected by the Engineering Demand Parameters. Your projected damage costs will be determined by the costs of the components that make up your system.</dd>
</dl>
<dl>
	<dt>Global Collapse</dt>
	<dd>On the final tab, you define the probability and cost of a total structural collapse, as well as the probability that the structure will be damaged to the point that it requires demolition. These probabilities will be taken into account in your final cost estimates.</dd>
</dl>

<p>Each tab contains detailed instructions on how to input your data.</p>

<p>Once you have provided some input data, you can visit the <b>Calculate</b> tab at any time to see what computations are available to perform.</b></p>
