<div class="navbar-inner">
	<div class="container">
		<!-- .btn-navbar is used as toggle for collapased content-->
		<a href="#" data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<!-- leave brand out here if you want it shown
		<a href="#" class="brand">Openslat</a>-->
		<!-- everything in here hidden at 940px or less-->
		<div class="nav-collapse navbar-responsive-collapse">
			<ul class="nav">
				<li ng-class="isActive('introduction')">
					<a href="introduction" ng-class="{ on: isIntroduction }">Introduction</a>
				</li>
				<li ng-class="isActive('im')">
					<a href="im" ng-class="{ on: isIm }">1. Seismic Hazard</a>
				</li>
				<li ng-class="isActive('edp')">
					<a href="edp" ng-class="{ on: isEdp }">2. Seismic Response</a>
				</li>
				<li ng-class="isActive('structure')">
					<a href="structure" ng-class="{ on: isStructure }">3. System Definition</a>
				</li>
				<li ng-class="isActive('collapse')">
					<a href="collapse" ng-class="{ on: isCollapse }">4. Collapse and Demolition</a>
				</li>
				<li ng-class="isActive('results')">
					<a href="results" ng-class="{ on: isOptions }">Calculate</a>
				</li>
			</ul>
		</div>
		<!-- Save and Load controls -->
		<div ng-controller="SaveCtrl" class="pull-right" class="navbar navbar-static-top">
				<div class="fileupload fileupload-new pull-right save-button" data-provides="fileupload">
					<span class="btn btn-file btn-primary">
						<span class="fileupload-new">Load saved data...</span>
						<span class="fileupload-exists">Load saved data...</span>
						<input type="file" id="saveFileSelect" />
					</span>
				</div>
			<button type="button" class="btn btn-primary pull-right save-button" ng-click="saveJson()" ng-disabled="!dirty" >{{ dirty ? "Save work" : "Saved!" }}</button>
		</div>
	</div>
</div>